@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared styles */
* {
    font-family: 'Work Sans', sans-serif;
}
.text-light-grey{
    color:#727272;
    /* text-align: center; */
    font-weight: 400;
}
.primary-btn{
    border-radius: 5px;
    color: #FFFFFF;
    background: #FF900E;
    padding: 20px 25px;
    cursor: text;
    margin-bottom: 22px;
}
.section-title{
    color: #131313;
    font-size: 2.8em;
    font-weight: 700;
}
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px8
}
nav{
    display: flex;
    justify-content: space-between;
    align-items:center;
}

nav > ul{
    display: flex;
    justify-content: space-between;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}

/* banner styles */
.baner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    align-items: center;
}
.banner-title{
    color: #131313;
    text-align: center;
    font-size: 4em;
    font-weight: 700;
}

.banner img{
    width: 100%;
}

/* main sectyion styles */
main{
    max-width: 1440px;
    margin: 70px auto;
}
.teams-content{
    padding-left: 70px;
    padding-right: 70px;
}
.teams-container{
    display: flex;
    align-items: center;
    gap: 4.8rem;
}
.teams-image-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.3rem;
}
.teams-title{
    font-size: 3.6rem;
}
.teams-title .quick-list{
    font-weight: 500;
}
.teams-title .text-features{
    color: #FF900E;
    font-weight: 700;
}

/* features section starts here */
.features{
    display: flex;
    margin-top: 90px;
    gap: 20px;
    margin-bottom: 170px;
}
.features .section-title{
    background: #FFF;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.feature-content .card{
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.feature-image img{
    height: 90%;
    margin-left: 90px;
}
.ten-years-badge{
    padding: 45px;
    border-radius: 5px;
    background: #FF900E;
    color: #FFF;
    width: 342px;
    text-align: center;
    position: relative;
    bottom: 100px;
}
.ten-years-badge h2{
    font-size: 4rem;
    margin: 0;
}
.ten-years-badge p{
    font-size: 1.5rem;
}

/* facts sectionn starts here */
.facts-card-container, .sponsor-img-container{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.facts-card-container .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
}

.facts-card-container .card-stats{
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}
.facts-card-container .card-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 5px;
}

/* sponsors styles start here */
.sponsor{
    text-align: center;
}
.sponsor-img-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    gap: 80px;
    align-items: center;
}
.sponsor-img-container img{
    width: 165px;
}
.footer{
    border-radius: 8px;
    background: #FFF4E7;
    margin: 200px;
    text-align: center;
    padding: 30px 100px;
}
/* responsive styles */
/* resonsive MOBILE device */
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav, 
    .teams-container,
    .features,
    .facts-card-container,
    .sponsor-img-container{
        flex-direction: column;
        gap: 20px;
    }
    .feature-image img{
        width: 90%;
        margin: 0;
    }
    .ten-years-badge{
        position: static;
        max-width: 300px;
    }
    .teams-image-container{
        grid-template-columns: 1fr;
    }
    .teams-content,
    .facts-card-container{
        padding-left: 20px;
        padding-right: 20px;
    }
}
/* responsive MEDIUM device */
@media screen and (min-width:576px) and (max-width:992px) {
    header{
        padding: 50px;
    }
    nav,
    .features, 
    .teams-container,
    .sponsor-img-container{
        flex-direction: column;
    }
}